# Object files
obj/

*.o
*.d

# Executables
*.out
*.bin

src/kernel/boot/bootloader
src/kernel/loader/loader
src/kernel/kernel
src/kernel/lib/i386
src/kernel/lib/x86_64
src/stdlib/i386
src/stdlib/x86_64

# Debug files
*.debug

# Autocomplete
.clang_complete

# Image files
*.img

# Ctags
tags

# Temporary files
*.swp

# Dia temporary files
*~

# Latex files
*.pdf
*.eps
*.aux
*.toc
*.log
*.blg
*.bbl
.deps
doc/tex/inc/*
