# Object files
obj/

# Executables
*.out
*.bin

# Debug files
*.debug

# Autocomplete
.clang_complete

# Image files
*.img

# Ctags
tags

# Temporary files
*.swp

# Latex files
*.pdf
*.aux
*.toc
*.log
*.blg
*.bbl
.deps
